html,body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    &::-webkit-scrollbar{
        width:10px;
        cursor: pointer;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #2F3336;
        border-radius: 5px;;
        border:none;
    }
    &::-webkit-scrollbar-track{
        background:none;
        border:none;
    }
}